html {
  background-color: #020233;
}

body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: gray;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.intro-container {
  color: white;
}

.add-user-form {
  color: white;
}

.validaion-message {
  color: white;
}

.add-user-button {
  background-color: white;
  color: #020233;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.add-user-button:hover {
  background-color: #d6d6d6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
